<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 시작하기</title>
</head>
<body>
<div id="map" style="width:1000px;height:2000px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=730f9c060f5aafc7b1a166fe3351a5ca&libraries=services"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(35.04388055185512,128.96907860892097),
        level: 3
    };

    var map = new kakao.maps.Map(container, options) ;

    //지형도로 표시
    //map.addOverlayMapTypeId(kakao.maps.MapTypeId.TERRAIN);

    // 마커를 변환된 위치에 표시합니다
    //[35.136686768410286,    129.02156590350674]
    var marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(35.045329408631694, 128.96911031089402), // 마커를 표시할 위치입니다
        map: map // 마커를 표시할 지도객체입니다
    })

    //"x" : 35.13668676843584,    "y" : 129.02156590374437
    var marker2 = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(35.04532940863168,128.96911031089445), // 마커를 표시할 위치입니다
        map: map // 마커를 표시할 지도객체입니다
    })

    var marker3 = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(35.04388055185512,128.96907860892097), // 마커를 표시할 위치입니다
        map: map // 마커를 표시할 지도객체입니다
    })







    let lineString = [[${lineString}]];

    let color = ['#0AC9FF','#3232FF','#A0AFFF','#8572EE','#47FF9C','#8AE634','#BCFF66','#FF607F','#FF50CF','#FAF082','#8B4F1D','#FF3232','#282828'];
    let colorCounter = 0;

    for (const lineStringElement of lineString) {

        var linePath = [];

        for (const pos of lineStringElement) {
            let xpos = pos[0];   let ypos = pos[1];
            linePath.push(new kakao.maps.LatLng(xpos,ypos));
        }

        // 지도에 표시할 선을 생성합니다
        var polyline = new kakao.maps.Polyline({
            path: linePath, // 선을 구성하는 좌표배열 입니다
            strokeWeight: 2, // 선의 두께 입니다
            strokeColor: '#FFAE00', // 선의 색깔입니다
            //strokeColor: color[colorCounter],
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid' // 선의 스타일입니다
        });

        colorCounter = (colorCounter+1)%13;

        // 지도에 선을 표시합니다
        polyline.setMap(map);

    }






</script>
</body>
</html>